# AG Studio licence key for the control room (/app/control-room). Optional: without it Studio runs locally with a watermark.
# Get the 45-day trial at https://www.ag-grid.com/studio/license-pricing/ and start it in the last week of October so it is
# alive for judging in December. Copy this file to web/.env (git-ignored) and paste the key. It is read at BUILD time by
# Vite, so rebuild after changing it. It is a licence key, not a secret, but it belongs to you: do not commit it.
VITE_AG_STUDIO_LICENSE=
